* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Gallery Heading */
h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-top: 20px;
}

/* Divider Line */
hr {
  width: 60%;
  margin: 10px auto;
  border: 0;
  height: 2px;
  background: #333;
}

.customnav {
  background: #000000;
  height: 80px;
  width: 100%;
  
  
}

/* Logo Styling */
label.logo {
  color: white;
  font-size: 35px; /* Default font size */
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.customnav ul {
  float: right;
  margin-right: 20px;
}

.customnav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.customnav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #5b86a7;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Responsive Styles */
@media (max-width: 952px) {
  label.logo {
    font-size: 30px; /* Adjust font size for medium screens */
    padding-left: 50px;
  }

  .customnav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  label.logo {
    font-size: 25px; /* Smaller font size for tablets */
    padding-left: 30px;
  }
}

@media (max-width: 480px) {
  label.logo {
    font-size: 20px; /* Further reduce font size for small mobile devices */
    padding-left: 20px;
  }
}

@media (max-width: 1200px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #5b86a7;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    overflow-y: auto;
    z-index: 5;
  }

  /* Hide scrollbar */
  ul::-webkit-scrollbar {
    display: none;
  }

  .customnav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .customnav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: black;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
